<div class="bs-docs-sidebar affix" style="width: 190px;" role="complementary">
    <table class="nav navbar-nav table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th><p>News stations</p></th>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for link in feed %}
            <tr>
                <td><p><a href="{{ url_for('news', news=link.name) }}">{{ link.name }}</a></p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

