{% extends "backend/base.html" %}
{% block title %}Configuration platform{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <hr>
            <ul class="nav nav-tabs">
                <li class="active"><a aria-expanded="true" href="#News" data-toggle="tab">News</a></li>
                <li class=""><a aria-expanded="false" href="#site_config" data-toggle="tab">Site Config</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="News">
                    {% include "backend/news_config.html" ignore missing %}
                </div>
                <div class="tab-pane fade" id="site_config">
                {% include "backend/site_config.html" ignore missing %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}