<div class="well">
    <h2>Feed Configuration</h2>
</div>

{% for message in get_flashed_messages() %}
    <div class="bs-component">
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>{{ message }}</p>
        </div>
    </div>
{% endfor %}

<div class="row">
    <div class="col-lg-12">
        <form method="post" action="/backend/news-config/">
            <div class="form-group">
                <span class="glyphicon glyphicon-asterisk" style="color:red"></span>
                <label for="rssurl">insert a new rss feed</label>
                <input type="url" required="required" class="form-control" name="rssurl"
                       placeholder="rss feed" value="{{ request.form.rssurl }}">
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-asterisk" style="color:red"></span>
                <label for="name">Name of rss feed</label>
                <input type="text" required="required" class="form-control" name="name"
                       placeholder="Name"
                       value="{{ request.form.name }}">
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-4">
                    <div class="form-group">
                        <label for="edition">additional feed edition / category</label>
                        <select class="form-control" name="category">
                            <option value="">Select</option>
                            {% for category in category %}
                                <option value="{{ category.id }}">{{ category.name|safe }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-lg-4">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <select class="form-control" name="country">
                            <option value="">Select</option>
                            {% for country in country %}
                                <option value="{{ country.id }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-lg-4">
                    <div class="form-group">
                        <label for="language">Language</label>
                        <select class="form-control" name="language">
                            <option value="">Select</option>
                            {% for language in language %}
                                <option value="{{ language.id }}">{{ language.language }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" name="btn1" class="btn btn-default">Submit</button>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed table-striped table-responsive">
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>category</td>
                <td>Country</td>
                <td>Language</td>
                <td>url</td>
            </tr>
            </thead>
            <form class="form-horizontal" method="POST" action=".">
                {% for feeds in all_feeds %}
                    <tr>
                        <td>{{ feeds.id }}</td>
                        <td>{{ feeds.name }}</td>
                        <td>{{ feeds.cat.name }}</td>
                        <td>{{ feeds.count.name }}</td>
                        <td>{{ feeds.lang.language }}</td>
                        <td><a href="{{ feeds.url }}" target="_blank">{{ feeds.url }}</a></td>
                        <td>
                            <button class="btn btn-sm btn-default" value="{{ feeds.id }}" id="=delete" name="Delete">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </form>
        </table>
    </div>
</div>