<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            {% for config in g.config %}
                <a href="{{ url_for('index') }}" class="navbar-brand">{{ config.title }}</a>
            {% endfor %}
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse pull-right" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span
                            class="caret"></span></a>
                    <ul id="theme_list" class="dropdown-menu" aria-labelledby="themes">
                        {% for theme in g.theme_list[0] %}
                            <li id="{{ theme }}"><a href="#">{{ theme }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                {% if "user_id" in session %}
                    <li>
                        <a href="{{ url_for('backend.backend') }}">Config</a>
                    </li>
                    <li>
                        <a href="{{ url_for('backend.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>
</div>