<div class="well">
    <h2>News Configuration</h2>
</div>

{% for message in get_flashed_messages() %}
    <div class="bs-component">
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>{{ message }}</p>
        </div>
    </div>
{% endfor %}

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <span class="text-center"><h3>available news feeds.</h3></span>

                    <form name="feedForm" class="form-group" method="post" action="select-feed/">
                        <div class="form-group">
                            {% for feed in all_feeds %}
                                {% if feed.url in feeds|string %}
                                {% else %}
                                    <button class="btn btn-warning" style="border: 1px solid #ffffff; width: 100%;
                                    " value="{{ feed.id }}" name="{{ feed.id }}">{{ feed.name }}</button>
                                {% endif %}
                            {% endfor %}
                            {% if feeds == all_feeds %}
                                <h4 class="text-center">No more available feeds</h4>
                            {% endif %}
                        </div>

                    </form>
                </div>
            </div>
        </div>

        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
    </div>


    <div class="col-lg-6">
        <span class="text-center"><h3>Your subcribed news feeds</h3></span>
        {% for url in feeds %}
            <div class="row">
                <div class="col-md-12">
                    <form method="post" action="delete-feed/">
                        <button type="submit" class="btn btn-primary" style="width: 100%;
                                border: 1px solid #ffffff;" name="delete" id="delete"
                                value="{{ url.id }}">
                            {{ url.name }}
                        </button>
                    </form>
                </div>

            </div>
        {% endfor %}
    </div>
</div>