<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h1>News Thailand
                    <small><br>
                        The headlines of right now!
                    </small>
                </h1>
            </div>

        <div class="col-sm-6">
            <p>something should go here!</p>
            <div class="table-responsive">
    <div class="table">
            <select name="Item_1" multiple>
                {% for y in urls %}
                <option value="{{ y.id }}">{{ y.name }}</option>
                {% endfor %}
            </select>
    </div>
</div>
        </div>
            </div>
    </div>
    {% block content %}{% endblock %}
</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>