<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% for theme in site_config %}
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" id="bootstrap" href="/bootswatch/{{ theme.theme }}/bootstrap.min.css"/>
    {% endfor %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include "header.html" ignore missing %}

{% block content %}{% endblock %}

{% include 'footer.html' ignore missing %}

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script>

    $("#theme_list li").click(function () {

        var theme_drop_down_selected = $('#theme_list li').attr('id');
        var dirLocator = "/bootswatch/"
        theme_drop_down_selected = $(this).attr('id');
        var themeDropDownSelected = dirLocator.concat(theme_drop_down_selected, '/bootstrap.min.css')
        $('#bootstrap').attr('href', themeDropDownSelected);
    });
</script>
<script>

    $('.panel-heading a').on('click',function(e){
    if($(this).parents('.panel').children('.panel-collapse').hasClass('in')){
        e.stopPropagation();
    }
    // You can also add preventDefault to remove the anchor behavior that makes
    // the page jump
    // e.preventDefault();
});
</script>
</body>
</html>