{% extends "base.html" %}

{% block title %}Login here{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-dismissable alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <div class="">
        <h1>This is where you login!</h1>

        <div class="form-group">
            <form action="" method="post">
                <input type="text" placeholder="User name" name="username" value="{{ request.form.username }}">
                <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
                <input class="btn btn-default" type="submit" value="login">
            </form>
            {% if error %}
                {{ error }}
            {% endif %}

        </div>
    </div>
{% endblock %}
