{% extends "base.html" %}
{% block title %}Configuration platform{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-dismissable alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        <div class="well">
            <a href="logout">Logout</a>

            <div class="row">
                <div class="col-lg-4">
                    <form method="post" action="">
                        <p>insert a new rss feed URL:</p>
                        <small>eg. http://url.torss.feed/rss</small>
                        <br>
                        <input type="text" name="rssurl" placeholder="http://url.to.rss"
                               value="{{ request.form.rssurl }}">*
                        <br>
                        <input type="text" name="name" placeholder="Name" value="{{ request.form.name }}">*
                        <br>
                        <input type="text" name="edition" placeholder="Edition" value="{{ request.form.edition }}">
                        <br>
                        <input type="radio" id="active" checked value="1">Activate&nbsp;
                        <input type="radio" id="active" value="0">Deactivate
                        <br>
                        <button class="btn-default" name="button">Enter</button>

                    </form>
                    {% if error %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endif %}
                </div>
                <div class="col-lg-8">
                    {% for url in urls %}
                        <div class="panel panel-default">
                            <div class="panel-heading"><p>{{ url.name }} </p></div>
                            <div class="panel-body">
                                <a href="{{ url.url }}" target="_blank">{{ url.url }}</a>
                            </div>
                            <form method="post" action="">
                                <button class="btn-default" name="delete" value="{{ url.id }}">delete</button>
                            </form>

                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}