<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            {% for config in g.config %}
                <a href="/" class="navbar-brand">{{ config.title }}</a>
            {% endfor %}

            <button class="navbar-toggle" type="button" data-toggle="offcanvas" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        {% if 'user_id' in session %}
            <div class="navbar-collapse collapse pull-right" id="navbar-secundary">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('backend.backend') }}">Config</a></li>
                    <li><a href="{{ url_for('backend.logout') }}">Logout</a></li>
                </ul>
            </div>
        {% endif %}

    </div>
</div>

<div class="navmenu navmenu-default navmenu-fixed-right offcanvas" id="navbar-main">
    <ul class="nav navbar-nav pull-right" role="menu">

        {% if "user_id" in session %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    <li class="divider"></li>
                    <li><a href="{{ url_for('backend.backend') }}">Config</a></li>
                    <li><a href="{{ url_for('backend.logout') }}">Logout</a></li>
                </ul>
            </li>

            {% for link in feed %}
                <li>
                    <a href="{{ url_for('news', news=link.name) }}">{{ link.name }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>