<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            {% for config in site_config %}
                <a href="/" class="navbar-brand">{{ config.title }}</a>
            {% endfor %}

        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span
                            class="caret"></span></a>
                    <ul id="theme_list" class="dropdown-menu" aria-labelledby="themes">
                        {% for theme in theme_list %}
                            <li id="{{ theme }}"><a href="#">{{ theme }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="help">Help</a>
                </li>
                <li>
                    <a href="config">Config</a>
                </li>
            <li>
                    <a href="#" data-toggle="modal" data-target="#myModal">Login</a>
                </li>
            </ul>
        {% include "login.html" ignore missing %}
            {% include "login.html" ignore missing%}
        </div>
    </div>
</div>