{% extends "base.html" %}

{% block title %}News from Thailand, headlines from Thailand{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="bs-component">
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>{{ message }}</p>
                </div>
            </div>
        {% endfor %}
        {% if error %}
            <div class="bs-component">
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>{{ error }}</p>
                </div>
            </div>
        {% endif %}
        <div class="">
            <div class="row">
                <div class="col-sm-6">
                    {% for config in site_config %}
                        <h1>{{ config.title }}
                            <small><br>
                                {{ config.slogan }}
                            </small>
                        </h1>
                    {% endfor %}
                </div>

                <div class="col-sm-6">
                    <p>Serving {{ length }} stories from:</p>
                    <div class="list-group">
                        {% for y in urls %}
                                <small><a class="list-group-item" href="{{ y.url }}" target="_blank">{{ y.name }}</a></small>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <blockquote>
                <p>Serving, {{ length }} stories</p>
            </blockquote>
            <div class="row">
            {% set num = 1 %}
                {% for article_row in post[length:length -101:-1] | batch(50) %}
                    <div class="col-sm-6">
                    {% set num = num +1 %}
                        <div class="list-group">
                            <div class="panel-group" id="accordion{{ num }}">
                                {% for p in article_row %}
                                    <div class="panel panel-default">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle list-group-item list-group-item-warning"
                                               data-toggle="collapse" data-parent="#accordion{{ num }}"
                                               href="#{{ p.id }}"><h4>{{ p.title|safe }}</h4>
                                                <div class="row">
                                                    <div class="col-sm-6"><small>source: {{ p.source|safe }}</small></div>
                                                    <div class="col-sm-6"><p class="text-right"><small>date: {{ p.time }}</small></p></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div id="{{ p.id }}" class="accordion-body collapse open">
                                            <div class="accordion-inner">
                                        <span class="list-group-item">
                                            <small>{{ p.time }}</small><br>
                                            {{ p.summary|safe }}<br>
                                        <a href="{{ p.link }}" target="_blank">Read further:</a>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
