<div class="container">
    {% if 'user_id' in session %}
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-3">
                {% include "left-menu.html" ignore missing %}
            </div>
            <div class="col-md-6">
                {% include "news-view.html" ignore missing %}
            </div>

            <div class="hidden-xs hidden-sm col-md-3">
                {% include "right-menu.html" ignore missing %}
            </div>

        </div>
    {% else %}
        {% include "login.html" ignore missing %}
    {% endif %}
</div>
