<div class="container">
    {% if 'user_id' in session %}
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-3">
                {% include "left-menu.html" ignore missing %}
            </div>
            <div class="col-md-6">
                <div id="postlist">
                    {% for feed in feeds %}
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h3 class="pull-left">{{ feed.title|safe }}</h3>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4 class="pull-right">
                                            <small><em>{{ feed.published_parsed }} hours ago</em></small>
                                        </h4>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                {% if feed.image == None %}

                                {% else %}
                                    <a href="{{ feed.link }}" target="_blank" class="img-responsive">
                                        <img alt="Image" src="{{ feed.image }}" class="img-thumbnail">
                                    </a>
                                    <hr>
                                {% endif %}
                                {{ feed.summary|safe }}<br>
                                <a href="{{ feed.link }}" target="_blank">Read more</a>
                            </div>

                            <div class="panel-footer">
                                <span class="label label-default">{{ feed.publisher }}</span> <span
                                    class="label label-default">Updates</span> <span
                                    class="label label-default">{{ feed.published }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="text-center"><a href="#" id="loadmore" class="btn btn-primary">Next posts...</a></div>
            </div>

            <div class="hidden-xs hidden-sm col-md-3">
                {% include "right-menu.html" ignore missing %}
            </div>

        </div>
    {% else %}
        {% include "login.html" ignore missing %}
    {% endif %}
</div>
