<div class="container">
    {% if 'user_id' in session %}
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-3">
                {% include "left-menu.html" ignore missing %}
            </div>
            <div class="col-md-6">
                <div id="postlist">
                    {% for feed in feeds %}
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h3 class="pull-left">{{ feed.title|safe }}</h3>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4 class="pull-right">
                                            <small><em>{{ feed.published_parsed }} hours ago</em></small>
                                        </h4>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                {% if feed.image == None %}

                                    {% else %}
                                    <a href="{{ feed.link }}" target="_blank" class="thumbnail">
                                    <img alt="Image" src="{{ feed.image }}" style="height:100%;">
                                </a>
                                {% endif %}
                                {{ feed.summary|safe }}<br>
                                <a href="{{ feed.link }}" target="_blank">Read more</a>
                            </div>

                            <div class="panel-footer">
                                <span class="label label-default">{{ feed.publisher }}</span> <span
                                    class="label label-default">Updates</span> <span
                                    class="label label-default">July</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3 class="pull-left">Post With image</h3>
                                </div>
                                <div class="col-sm-3">
                                    <h4 class="pull-right">
                                        <small><em>2014-07-30 18:30:00</em></small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <a href="#" class="thumbnail">
                            <img alt="Image" src="http://i.imgur.com/tAHVmXi.jpg">
                        </a>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation... <a href="#">Read more</a>
                    </div>

                    <div class="panel-footer">
                        <span class="label label-default">Image</span> <span class="label label-default">Updates</span>
                        <span class="label label-default">July</span>
                    </div>
                </div>

                <div class="text-center"><a href="#" id="loadmore" class="btn btn-primary">Next posts...</a></div>
            </div>

            <div class="hidden-xs hidden-sm col-md-3">
                {% include "right-menu.html" ignore missing %}
            </div>

        </div>
    {% else %}
        {% include "login.html" ignore missing %}
    {% endif %}
</div>
