<div class="modal-body">
    <div class="row">
        <div class="col-sm-6 login">
            <h4>Login</h4>

            <form class="" method="POST" action="/">
                <div class="form-group">
                    {% for message in get_flashed_messages() %}
                        {{ message }}
                    {% endfor %}
                </div>
                {{ g.form.csrf_token }}
                <div class="form-group">
                    <div>{{ g.form.email.label }}: {{ g.form.email(class="form-control") }}</div>
                </div>
                <div class="form-group">
                    <div>{{ g.form.password.label }}: {{ g.form.password(class="form-control") }}</div>
                </div>
                <div class="form-group">
                    <div>{{ g.form.logged_in.label }}: {{ g.form.logged_in }}</div>
                </div>
                <input type="submit" class="btn btn-success" value="submit" placeholder="submit">
            </form>
        </div>
        <div class="col-sm-6">
            <h4>New User Sign Up</h4>

            <p>Join today and get updated with all the headlines of right now.</p>
            <button type="submit" class="btn btn-info" data-toggle="modal"
                    data-target="#reModal">Join Now
            </button>
        </div>
        {% include "register.html" ignore missing %}
    </div>


    <div class="row">
        <hr>
        <div class="col-lg-6">
            <h2><p>Welcome to the Busieslist.</p>
                <small><p>Here you will find all the headlines of today.</p></small>
            </h2>
        </div>
        <div class="col-lg-6">
            <p style="background-color: lightgreen;">Login and subscribe to your favorite news papers online, right now.</p>
            <p>Busieslist is a news feed agregator, we have news feeds from all over the world in many languages.</p>
            <br>
            <p>Sign up today, it's totally free.</p>
        </div>
    </div>
</div>
