<div id="postlist" class="panel panel-default">
    {% if feeds[0] %}
        <div class="panel-heading text-center">{{ feeds[0].publisher }}</div>
    {% else %}
        <h4>Feed isn't available at this moment <small> Check again later.</small></h4>
    {% endif %}

    {% for feed in feeds %}
        <div class="panel">
            <div class="row">
                <div class="col-sm-9">
                    <div class="panel-heading">
                        <h4>
                            {% if feed.published_parsed == 0 %}
                                <small><em>Just now</em></small>
                            {% elif feed.published_parsed <= 24 %}
                                <small><em>{{ feed.published_parsed }} hours ago</em></small>
                            {% else %}
                                <small><em>{{ feed.published }}</em></small>
                            {% endif %}
                        </h4>
                        <h3>{{ feed.title|safe }}</h3>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                {% if feed.image == None %}

                {% else %}
                    <a href="{{ feed.link }}" target="_blank" class="img-responsive">
                        <img alt="Image" src="{{ feed.image }}" class="img-thumbnail center-block" style="width: 350px; height: 75%; object-fit: contain;">
                    </a>
                {% endif %}
                <p>{{ feed.summary|striptags }}</p>

                <p><a href="{{ feed.link }}" target="_blank">Read more</a></p>
            </div>

            <div class="panel-footer">
                <span class="label label-default">{{ feed.publisher|truncate(30) }}</span> <span
                    class="label label-default"></span> <span
                    class="label label-default">{{ feed.published|datetimeformat }}</span>
            </div>
        </div>
    {% endfor %}
</div>

<div class="text-center">
    <a href="{{ url_for('news', news=news) }}" id="loadmore" class="btn btn-primary">Next posts...<br>
        <small>{{ news|truncate(20) }}</small>
    </a>
</div>