<div id="postlist" class="panel panel-default">
    <div class="panel-heading">{{ feeds[0].publisher }}</div>

    {% for feed in feeds %}
        <div class="panel">
            <div class="row">
                <div class="col-sm-9">
                    <div class="panel-heading">
                        <h4>
                            {% if feed.published_parsed == 0 %}
                                <small><em>Just now</em></small>
                            {% else %}
                                <small><em>{{ feed.published_parsed }} hours ago</em></small>
                            {% endif %}
                        </h4>
                        <h3 class="pull-left">{{ feed.title|safe }}</h3>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                {% if feed.image == None %}

                {% else %}
                    <a href="{{ feed.link }}" target="_blank" class="img-responsive">
                        <img alt="Image" src="{{ feed.image }}" class="img-thumbnail center-block" style="width: 350px; height: 75%; object-fit: contain;">
                    </a>
                    <hr>
                {% endif %}
                {{ feed.summary|safe }}<br>
                <a href="{{ feed.link }}" target="_blank">Read more</a>
            </div>

            <div class="panel-footer">
                <span class="label label-default">{{ feed.publisher|truncate(30) }}</span> <span
                    class="label label-default">Updates</span> <span
                    class="label label-default">{{ feed.published }}</span>
            </div>
        </div>
    {% endfor %}
</div>

<div class="text-center">
    <a href="{{ url_for('news', news=news) }}" id="loadmore" class="btn btn-primary">Next posts...<br>
        <small>{{ news|truncate(20) }}</small>
    </a>
</div>